* {
    margin: 0;
}
body {
    background: url(../assets/images/pic1.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    color: #fff;
}
#app {
    background: pink;
}
.title {
    color: green;
}